@use '../../../styles/colors' as color;
@use '../../../styles/fonts' as font;

.wrapper {
  width: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../../../../public/img/bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}

.intro {
  max-width: 1400px;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  z-index: 1;

  &_logo {
    margin-top: 64px;
    height: 128px;
    width: 128px;
    background-color: white;
  }

  &_title {
    margin-top: 32px;
    font-size: 56px;
    font-weight: 300;
    color: color.$font-primary;
    font-family: font.$font-tertiary;

    @media (max-width: 800px) {
      font-size: 40px;
    }
  }

  &_slogan {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 400;
    color: color.$font-primary;
    font-family: font.$font-secondary;

    @media (max-width: 800px) {
      margin-top: 8px;
      font-size: 16px;
    }
  }

  &_btn {
    margin-top: 124px;
    color: color.$font-primary;
    background-color: color.$bg-primary;
    font-weight: 200px;
    width: 120px;
    padding: 16px 48px;
    cursor: pointer;
    transition: 300ms;
    border-radius: 12px;

    &:hover {
      scale: 1.05;
    }
  }
}
