<div class="wrapper">
  <section class="intro">

    <img class="intro_logo" src="img/car.png">

    <div class="intro_title">
        Autodirektankauf
    </div>

    <div class="intro_slogan">
        Weil's einfacher nicht sein kann
    </div>

    <div class="intro_steps">
      <div class="intro_step">
        <span class="intro_step-index">1</span>
        <span class="intro_step-text">Auto bewerten lassen und Anfrage senden</span>
      </div>
      <div class="intro_step">
        <span class="intro_step-index">2</span>
        <span class="intro_step-text">Wir melden uns schnell mit einem fairen Angebot</span>
      </div>
    </div>

    <a class="intro_btn" href="#sellNow">Jetzt verkaufen</a>

  </section>
</div>
