<div class="wrapper">
  <section class="imprint">
    <div class="imprint_block">
      <h3>Fairer Preis, klare Bewertung</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quas expedita ab natus soluta
        excepturi id veritatis, totam ipsum fugit aliquam iste nulla culpa amet. Maxime consequatur
        impedit inventore eos.
      </p>
    </div>
    <div class="imprint_block">
      <h3>Fairer Preis, klare Bewertung</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quas expedita ab natus soluta
        excepturi id veritatis, totam ipsum fugit aliquam iste nulla culpa amet. Maxime consequatur
        impedit inventore eos.
      </p>
    </div>
    <div class="imprint_block">
      <h3>Fairer Preis, klare Bewertung</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quas expedita ab natus soluta
        excepturi id veritatis, totam ipsum fugit aliquam iste nulla culpa amet. Maxime consequatur
        impedit inventore eos.
      </p>
    </div>
    <div class="imprint_block">
      <h3>Fairer Preis, klare Bewertung</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quas expedita ab natus soluta
        excepturi id veritatis, totam ipsum fugit aliquam iste nulla culpa amet. Maxime consequatur
        impedit inventore eos.
      </p>
    </div>
    <div class="imprint_block">
      <h3>Fairer Preis, klare Bewertung</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quas expedita ab natus soluta
        excepturi id veritatis, totam ipsum fugit aliquam iste nulla culpa amet. Maxime consequatur
        impedit inventore eos.
      </p>
    </div>
    <div class="imprint_block">
      <h3>Fairer Preis, klare Bewertung</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quas expedita ab natus soluta
        excepturi id veritatis, totam ipsum fugit aliquam iste nulla culpa amet. Maxime consequatur
        impedit inventore eos.
      </p>
    </div>
    <div class="imprint_block">
      <h3>Fairer Preis, klare Bewertung</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, quas expedita ab natus soluta
        excepturi id veritatis, totam ipsum fugit aliquam iste nulla culpa amet. Maxime consequatur
        impedit inventore eos.
      </p>
    </div>
  </section>
</div>
